# Ignoruj katalog budowania Rusta
/target/

# Ignoruj skompilowane pliki binarne C/eBPF
*.o
*.bpf.o

# Ignoruj wygenerowane nagłówki jądra
vmlinux.h

# Ignoruj pliki tymczasowe i skrypty pomocnicze
*.swp
.DS_Store
run.sh